name: Test

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  test:
    name: PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    concurrency:
      group: flow-test-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.1' ]
        composer: [ 'v2' ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Configure PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: pcov
          tools: composer:${{ matrix.composer }}

      - name: Configure PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: pcov
          tools: composer:${{ matrix.composer }}

      # Setting up composer dependencies
      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Restore Composer Cache
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install Composer Dependencies
        run: composer install --prefer-dist --no-interaction --optimize-autoloader --no-suggest

      - name: Copy Env
        run: cp .env.example .env

      - name: Cache Docker Images
        uses: ScribeMD/docker-cache@0.1.2
        with:
          key: docker-${{ runner.os }}-${{ hashFiles('docker-compose.yml', '.env.example') }}

      - name: Build and Start Containers
        run: ./vendor/bin/sail up -d

      - name: Generate Application Key
        run: ./vendor/bin/sail artisan key:generate

      - name: Migrate Database
        run: ./vendor/bin/sail artisan migrate

      - name: Run Tests
        run: ./vendor/bin/sail artisan test
